:root {
  --mainColor: #59f0aa;
}

body {
  align-items: center;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2em;
  height: 100vh;
  justify-content: center;
  margin: 0px;
}

p {
  box-sizing: border-box;
  padding: 10px;
}
a {
  background:
    linear-gradient(to bottom, var(--mainColor) 0%,
    var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

a:hover {
  background-size: 4px 50px;
}