@media (prefers-color-scheme: dark) {
  article.bg-purple {
    background-color: #141414;
  }

  article.bg-blue {
    background-color: #1c1c1c;
  }
  path {
    stroke: var(--light);
    fill-opacity: 0.6;
  }
  body {
    background: #060606;
    color: var(--light);
    a {
      color: var(--light);
    }
    blockquote {
      border-color: var(--light);
    }
  }
  .post {
  }
}
