:root {
    --theme: #59f0aa;
    --font1: 'Roboto', sans-serif;
    --font2: Palatino, Garamond, Georgia, serif;
    --color-purple: #ead5ff;
    --color-aqua: #aff1e1;
    --color-blue: #9ec2f0;
    --color-pink: #ec8e91;
    --color-green: #d5f2b8;
}

body {
    font-family: var(--font1);
    font-size: 2em;
    line-height: 1em;
    height: 100vh;
    margin: 0px;
    text-rendering: optimizeLegibility;

    @media (max-width: 600px) {
        font-size: 1.5em;
    }
}

header,
.fullblock {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;

    @media (max-width: 600px) {
        flex-direction: column-reverse;
        text-align: center;
    }


    p {
        box-sizing: border-box;
        padding: 10px;
        max-width: 800px;
    }

    em {
        font-size: .5em;
        color: #888;
    }

    strong {
        font-family: var(--font2);
    }
}

blockquote {
    background: rgb(220, 220, 220);
    padding: .1em .6em;
    font-style: italic;
}

a {
    background:
        linear-gradient(to bottom, var(--theme) 0%,
            var(--theme) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
}

a:hover {
    background-size: 4px 50px;
}

.bg-purple {
    background-color: var(--color-purple);
}

.bg-aqua {
    background-color: var(--color-aqua);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-pink {
    background-color: var(--color-pink);
}

.bg-green {
    background-color: var(--color-green);
}

/* Cool list! */
ol {
    padding-left: 4em
}

ol li {
    counter-increment: step-counter;
    list-style-type: none;
    position: relative;
}

ol li:before {
    content: counter(step-counter);
    margin-right: 1em;
    line-height: 1;
    background-color: var(--theme);
    box-shadow: .2em .2em 0 rgba(128, 128, 128, .2);
    color: black;
    padding: 2px 0;
    width: 2em;
    font-weight: bold;
    height: 1.2em;
    display: block;
    position: absolute;
    box-sizing: border-box;
    margin-left: -67px;
    margin-top: -3px;
    top: 5px;
    text-align: center;
    font-size: .9em;
    font-style: normal;
    font-family: var(--font1);
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: lnum;
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

li:nth-of-type(2n+2):before {
    transform: rotate(-2deg);
}

li {
    font-size: 1em;
    text-align: left;
    font-variant-ligatures: common-ligatures, contextual;
    text-rendering: optimizeLegibility;
    hanging-punctuation: first
}

li {
    margin-bottom: .5em
}


.logo {
    width: 80px;
    display: block;
    background: none;
}

.posts,
.post {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.posts {
    h1 {
        line-height: 1em;
        margin-bottom: 1em;
    }

    ul {
        padding-left: 0;
    }

    li {
        margin-left: 0;
        list-style: none;
        background: rgb(235, 235, 235);
        padding: .5em;

        em {
            font-size: .5em;
            display: block;
            line-height: 1;
        }
    }
}



.post {
    h1 {
        line-height: 1;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1em;
        margin-top: 2em;
    }

    p {
        font-size: .5em;
        line-height: 1.5;
    }

    em {
        font-size: .5em;
        display: block;
        line-height: 1;
        margin-bottom: 2em;
    }

    audio::-webkit-media-controls-timeline,
    audio::-webkit-media-controls-panel,
    audio::-webkit-media-controls-mute-button,
    audio::-webkit-media-controls-play-button,
    audio::-webkit-media-controls-timeline-container,
    audio::-webkit-media-controls-current-time-display,
    audio::-webkit-media-controls-time-remaining-display,
    audio::-webkit-media-controls-timeline,
    audio::-webkit-media-controls-volume-slider-container,
    audio::-webkit-media-controls-volume-slider,
    audio::-webkit-media-controls-seek-back-button,
    audio::-webkit-media-controls-seek-forward-button,
    audio::-webkit-media-controls-fullscreen-button,
    audio::-webkit-media-controls-rewind-button,
    audio::-webkit-media-controls-return-to-realtime-button,
    audio::-webkit-media-controls-toggle-closed-captions-button {
        background-color: var(--theme);
    }

    figure {
        display: block;
        margin: 0;
        margin-top: 2em;
        margin-bottom: 2em;

        // background: rgb(235, 235, 235);
        // border: var(--theme) .5em solid;
        // padding: 1em;
        audio {
            width: 100%;
            max-width: 500px;
        }
    }
}

.skills {
    max-width: 40em;
    margin: 1em;
    
    h2 {
        font-weight: bold;
        line-height: 1em;
    }

    .skills-list {
        display: block;
        padding: 0;
        margin: 0;
        li {
            display: inline-grid;
            gap: .1em;
            list-style: none;
            background: black;
            color: white;
            padding: .2em .3em;
            border-radius: .2em;
            word-break: keep-all;
        }
    }
}

@media print {
    body {
        font-size: 12px;
    }
    a[href^="/"] {
        display: none;
    }
}

.consultationForm {
    display: grid;
    background: rgba(86, 86, 86, 0.1);
    padding: 1em;
    border-radius: 8px;
    width: 100%;
    @media (min-width: 700px) {
        width: 600px;
    }
    input, textarea, button {
        padding: .9em;
        font-size: .5em;
        border: none;
        border-radius: 8px;
        font-family: sans-serif;
        &::placeholder {
            color: rgb(116, 116, 116);
            font-size: 1em;
            font-family: sans-serif;
        }
    }
    label {
        display: flex;
        flex-direction: column;
        gap: .2em;
        margin-top: 1em;
        font-weight: bold;
    }
    textarea {
        height: 100px;
    }
    input, textarea {
        background: white;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        font-size: .8em;
        margin-top: 1em;
        text-transform: uppercase;
        color: black;
        background-color: #59f0aa;
        &:hover {
            cursor: pointer;
        }
    }
}