:root {
  --container: 600px;
  /* Theme */
  --theme: #59f0aa;
  --font1: 'Roboto', sans-serif;
  --font2: Palatino, Garamond, Georgia, serif;
  --color-purple: #ead5ff;
  --color-aqua: #aff1e1;
  --color-blue: #9ec2f0;
  --color-pink: #ec8e91;
  --color-green: #d5f2b8;
}

body {
  font-family: var(--font1);
  margin: 0px;
  font-size: 1.3em;
  line-height: 1.6em;
  text-rendering: optimizeLegibility;
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1em;
  height: 100vh;

  .logo {
    width: 80px;
    display: block;
    background: none;
  }

  p {
    max-width: calc(var(--container) / 1.4);
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

section {
  background-color: rgb(242, 242, 242);

  .inner {
    max-width: var(--container);
    margin: auto;
    padding: 1em;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.image {
  max-width: 300px;
  height: auto;
}

blockquote {
  border-left: #59f0aa solid;
  margin-left: 1em;
  padding-left: 1em;
  padding: .1em .6em;
  height: auto;
  line-height: 1.2em;

  em {
    color: #888;
  }
}

a {
  background:
    linear-gradient(to bottom, var(--theme) 0%,
      var(--theme) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

a:hover {
  background-size: 4px 50px;
}

.bg-purple {
  background-color: var(--color-purple);
}

.bg-aqua {
  background-color: var(--color-aqua);
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-pink {
  background-color: var(--color-pink);
}

.bg-green {
  background-color: var(--color-green);
}

/* Cool list! */
ol {
  padding-left: 4em
}

ol li {
  counter-increment: step-counter;
  list-style-type: none;
  position: relative;
}

ol li:before {
  content: counter(step-counter);
  margin-right: 1em;
  line-height: 1;
  background-color: var(--theme);
  box-shadow: .2em .2em 0 rgba(128, 128, 128, .2);
  color: black;
  padding: 2px 0;
  width: 2em;
  font-weight: bold;
  height: 1.2em;
  display: block;
  position: absolute;
  box-sizing: border-box;
  margin-left: -67px;
  margin-top: -3px;
  top: 5px;
  text-align: center;
  font-style: normal;
  font-family: var(--font1);
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: lnum;
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

li:nth-of-type(2n+2):before {
  transform: rotate(-2deg);
}

li {
  text-align: left;
  font-variant-ligatures: common-ligatures, contextual;
  text-rendering: optimizeLegibility;
  hanging-punctuation: first
}

li {
  margin-bottom: .5em
}