<div class="grid">
    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing 
        <br>
        <em>— Nate</em>
    </blockquote>
    <blockquote>
        amet consectetur adipisicing Lorem ipsum dolor sit Lorem ipsum dolor sit 
        <br>
        <em>— Fred</em>
    </blockquote>
    <blockquote>
        Lorem ipsum dolor sit amet consectetur adipisicing 
        <br>
        <em>— Nate</em>
    </blockquote>
    <blockquote>
        amet consectetur adipisicing Lorem ipsum dolor sit Lorem ipsum dolor sit 
        <br>
        <em>— Fred</em>
    </blockquote>
    <blockquote>
        ctetur adipisicing Lorem ipsum dolor sit Lorem ips amet consectetur adipisicing Lorem ipsum dolor sit Lorem ipsum dolor sit 
        <br>
        <em>— Joe</em>
    </blockquote>
    <blockquote>
        ctetur adipisicing Lorem ipsum dolor sit Lorem ips amet consectetur adipisicing Lorem ipsum dolor sit Lorem ipsum dolor sit 
        <br>
        <em>— Joe</em>
    </blockquote>
</div>
<h1>That one time I gave a presentation...</h1>

<div class="grid">
    <p>From "How to Tend a Knowledge Garden" — Presentation at local meetup group, Feburary 2023</p>
    <img src="/talk.jpg" aria-hidden="true" class="image"/>
</div>
<h1>That one time I gave a presentation...</h1>
<ol>
    <li>hi</li>
    <li>hello</li>
</ol>
</div>
